<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <mat-card-content>
            <div class="container text-center">
              <img src="./assets/223.jpg" height="200px" width="200px" alt="">
            </div>
            <h1 class="text-center">Register Here !!</h1>
            <form (ngSubmit)="formSubmit()">
              <mat-form-field appearance="outline" class="full-witdh">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Enter first name" [(ngModel)]="user.firstName" name="firstName" required>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-witdh">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Enter last name" [(ngModel)]="user.lastName" name="lastName" required>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-witdh">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Enter email" type="email" [(ngModel)]="user.email" name="email" required>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-witdh">
                <mat-label>Phone Number</mat-label>
                <input matInput placeholder="Enter phone" type="number" [(ngModel)]="user.phone" name="phone" required>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-witdh">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Enter username" [(ngModel)]="user.username" name="username" required>
                <mat-hint>Username must be unique</mat-hint>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-witdh">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Enter password" type="password" [(ngModel)]="user.password" name="password"
                       required>
              </mat-form-field>
              <div class="container text-center">
                <button mat-raised-button color="primary" type="submit">Register</button>
                <button mat-raised-button color="accent" style="margin-left: 20px;">Clear</button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
